<!DOCTYPE html>
<html>
<title>Lunch Krunch Budget Tracker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/w3.css">
<link rel="stylesheet" hfref="stylesheets/style.css">
<script defer src="javascripts/app.js"></script>
<body>
   <!-- Sidebar/menu -->
   <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar"><br>
      <a id="nav-close-menu" class="w3-button w3-hide-large w3-display-topleft"
         style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-container">
         <h3 class="w3-padding-48"><b>Lunch<br>Krunch</b></h3>
      </div>
      <div class="w3-bar-block">
         <a href="/" class="w3-bar-item w3-button w3-hover-white">Home</a>
         <a href="/login" class="w3-bar-item w3-button w3-hover-white">Log In</a>
         <a href="/users" class="w3-bar-item w3-button w3-hover-white">My Meals</a>
         <a href="/restaurants" class="w3-bar-item w3-button w3-hover-white">Restaurant Index</a>
         <a href="#" class="w3-bar-item w3-button w3-hover-white">Settings</a>
         <a href="#" class="w3-bar-item w3-button w3-hover-white">Contact</a>
      </div>
   </nav>

   <!-- Top menu on small screens -->
   <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a id="nav-hamburger" class="w3-button w3-red w3-margin-right">☰</a>
      <span>Lunch Krunch</span>
   </header>

   <!-- Overlay effect when opening sidebar on small screens -->
   <div class="w3-overlay w3-hide-large" style="cursor:pointer" title="close side menu"
      id="myOverlay"></div>

   <!-- Main Page Content -->
   <div class="w3-main" style="margin-left:340px;margin-right:40px">