<%- include('../partials/header-root') %>
<div class="w3-container" style="margin-top:80px" id="showcase">
   <h1 class="w3-xxxlarge"><b>My Meals</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <!--Table-->
   <h2>Week of: DATE</h2>
   <table class="w3-table-all w3-large">
      <tr>
         <th>DATE</th>
         <th>PRICE</th>
         <th>RATING</th>
         <th>BALANCE</th>
      </tr>
      <tr>
         <td><a href="/"> May 3rd </a></td>
         <td>$20.04</td>
         <td>X / 5</td>
         <td>$23.90</td>
      </tr>
   </table>
   <a class="w3-margin-top w3-margin-top w3-button w3-red w3-hover-black" href="/">Add Lunch</a>
   <div class="w3-margin-top w3-margin-bottom w3-bar">
      <a href="#" class="w3-button w3-red">&#10094; Previous Week</a>
      <a href="#" class="w3-button w3-red w3-right">Next Week &#10095;</a>
   </div>
</div>
<%- include('../partials/footer') %>