<%- include('../partials/header') %>
<div class="w3-container w3-margin-top" style="margin-top:80px" id="showcase">
   <h1 class="w3-xxxlarge"><b>All Restaurants</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <!--Table-->
   <table class="w3-table-all w3-large">
      <tr>
        <th>Restaurant Name</th>
        <th>Rating</th>
        <th>Avg. Meal Price</th>
      </tr>
      <tr>
        <td><a href="/restaurants/show">Jille</a></td>
        <td>*****</td>
        <td>12.75</td>
      </tr>
   </table>
   <div class="w3-margin-top">
      <a href="/restaurants/new" class="w3-button w3-red w3-hover-black">Add Restaurant</a>
   </div>
</div>
<%- include('../partials/footer') %>