<%- include('../partials/restaurants-header') %>
<div class="w3-container" style="margin-top:80px">
   <h1 class="w3-xxxlarge"><b><%= restaurant.name %></b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
</div>
<div class="w3-row-padding w3-margin-top">
   <!--Menu Item Card-->
   <div class="w3-third">
      <div class="w3-card">
         <div class="w3-container w3-red">
            <h4> Menu Item </h4>
         </div>
         <div class="w3-container">
            <h4>Taste: </h4>
            <h4>Value: </h4>
            <h4>Price: </h4>
            <div class="w3-margin-bottom w3-center">
               <button class="w3-button w3-border">Edit</button>
               <button class="w3-button w3-border w3-border-red w3-hover-red">Delete</button>
            </div>
         </div>
      </div>
   </div>
   <!--Add New Restaurant Card-->
   <div class="w3-third">
      <div class="w3-card">
         <div class="w3-container w3-black">
            <h4>Add Menu Item</h4>
         </div>
         <div class="w3-container">
            <h4>Taste: ?</h4>
            <h4>Value: ?</h4>
            <h4>Ave. Price: ?</h4>
            <div class="w3-margin-bottom w3-center">
               <button class="w3-button w3-black">+</button>
            </div>
         </div>
      </div>
   </div>
</div>
<%- include('../partials/footer') %>